@model WebApplication1.Models.RealEstate

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RealEstate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.propAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.propAvailable)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.roomsAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.roomsAvailable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.rent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.rent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
